body{

background-color: #E2C597;


}


.widgets {

background-color: #FFF;
color: #FFF;
margin-bottom: 12px; 

}


.widgets > div {
background-color: #0080AA;
color: #fff;
margin-bottom: 12px;


}


footer {
	padding: 0px 80px;
	background: #282727;
	text-align: center; 
	color: #fff;
	font-size: x-small;
}




